body{
	font-family: 'Century Gothic',helvetica,verdana,arial;
	background: url("../img/bg.jpg.jsf?ln=template") repeat;
	background-size: cover;
	margin:0;
}

.bottom-space{
	margin-bottom: 1em;
}

.top-space{
	margin-top: 1em;
}

#page_wrapper{
	margin: 1em;
	min-width: 700px;
}

#header a {color: gray; font-weight:bold; text-decoration: none;}
#header a:hover {color: black;}