html, body {padding:0;margin:0;}
body {
	background: #ffc3c7;
	
	font-family: Verdana;
	font-size: 10pt;
}

#header, #footer {
	height: 56px;
	line-height: 56px;
	background: #dc3545;
	color: #fff;
	padding: 0 5px;
}

#footer {
	margin: 40px 0 0 0;
	text-align: center;
}

	#footer img#heart-img {
		width: 30px;
		height: 30px;
		position: relative;
		top: 10px;
	}

#header {
	margin: 0 0 40px 0;
	padding: 0 12px;
}
	
	#header a#header-brand {
		font-size: 19px;
		text-transform: uppercase;
		text-decoration: none !important;
		color: #fff !important;
		display: inline-block;
		margin: 0 10px 0 0;
		transition: transform 150ms;
	}
	
		#header #header-brand:hover {
			transform: scale(1.1);
		}
	
		#header a#header-brand img {
			width: 30px;
			height: 30px;
			position: relative;
			top: 8px;
		}
	
	#header #header-nav {
		display: inline-block;
	}
	
		#header #header-nav a {
			color: #efa4ab !important;
			padding: 0 8px;
			text-decoration: none !important;
		}
		
			#header #header-nav a:hover {
				color: #f6ccd0 !important;
			}
			
		#header #header-nav .userbtn button {
			background: rgba(255,255,255,0.2);
			border: 0;
			color: #fff;
		}
		
		#header #header-nav .userbtn button:hover {
			background: rgba(255,255,255,0.4);
		}

		#header #header-navButton-form {
			position: absolute !important;
			right: 12px;
			top: 0px;
		}
	
			#header #header-navButton-form .navButton {
				background: rgba(0,0,0,0.25) !important;
				border: none !important;
		
			}
	
				#header #header-navButton-form .navButton:hover {
					background: rgba(0,0,0,0.5) !important;
				}
		
		
	

	
	
#content {
	min-height: calc(100vh - 56px - 40px - 56px - 40px);
	margin: 0 auto;
	width: 85%;
}
	
	@media only screen and (max-width: 900px) {
		#content {
			width: 95%;
		}
	}

	#content #box {
		background: rgba(255,255,255,0.8);
		padding: 20px;
		border-radius: 6px;
		box-shadow: 0 4px 15px rgba(0,0,0,0.3);
	}
	
		#content #box h1 {
			margin: 0 0 25px 0;
			font-weight: normal;
		}

.text-center {text-align:center;}
.block {display:block;}

.mt-10 {margin-top:10px;}
.mb-10 {margin-bottom:10px;}

.mt-20 {margin-top:20px;}
.mb-20 {margin-bottom:20px;}

.pb-10 {padding-bottom: 10px;}

.smalltxt {
	font-size:11px;
}
	
*::-webkit-scrollbar-track {
	box-shadow: 0 0 10px #000;
	background-color: #333;
}

*::-webkit-scrollbar {
	width: 12px;
	background-color: #333;
}

*::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #e31e24;
	border-radius: 30px;
}
	
